
#background {
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-image: url("../images/architecture-buildings-business-1134166.jpg");
}

#departjeu {
    background-image: url("../images/streefighters.jpg");
    background-repeat:no-repeat;
    width: 1300px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    height: 80px;
    width: 100px;
    border: 2px solid white ;
    border-radius: 10px;
}

button a {
    text-decoration: none;
    font-size: 20px;
}

#opponents-score{
    display: flex;
    justify-content: space-between;
    top: 200px;
}

#lifeRyu {
    height: 50px;
    width: 100px;
    right: 700px;
    background-color: green;
    color: white;
    font-size: 40px;
    margin-left: 100px;
}

#lifeChun {
    height: 50px;
    width: 100px;
    right: 600px;
    background-color: green;
    color: white;
    font-size: 40px;
    margin-right: 100px;
}

#chunwon{
    display: flex;
    align-items: center;
    justify-content: center;
}

#ryuwon{
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
}

.instructions{
    width: 300px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
}